body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin: 0px;
}

.button-clear {
  border: none;
  background-color: inherit;
  display: inline-block;
}

/*********************
     HEADER
 ********************/

.hamburgerw
.youtube-logo,
#search {
  cursor: pointer;
}

header {
  padding: 0px 16px;
  height: 56px;
  background-color: #fff;
}

header * {
  display: inline-block;
}

.header-left {
  position:relative;
  bottom: 7px;
  padding: 13px 8px 8px 8px;
}

.hamburger {
  height: 24px;
  width: 24px;
  background-size: 24px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png);
}

.youtube-logo {
  position: relative;
  top: 10px;
  margin-left: 20px;
  height: 21px;
  width: 90px;
  background-size: 90px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/YouTube_Logo_2017.svg/1280px-YouTube_Logo_2017.svg.png);
}

.header-center {
  position: relative;
  left: 150px;
  bottom: 1px;
}

#search {
  width: 500px;
  height: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 3px 0px 0px 3px;
  color: #8f8080;
  font-size: 1.1rem;
  padding-right: 0px;
  margin-right: 0px;
}

.search-button {
  position: relative;
  bottom: 2px;
  right: 6px;
  border: 1px solid #d3d3d3;
  border-radius: 0px 3px 3px 0px;
  background-color: #f8f8f8;
  padding: 0px;
  margin: 0px;
  width: 70px;
  height: 34px;
}

.header-right {
  float: right;
  position: relative;
  top: 17px;
}
